<h1>Bookings</h1>

<% @bookings.each do |booking| %>
  <img class="card-img-top" src=<%=booking.offer.picture_url%> alt="Card image cap">
  <%# <% user = booking.user%>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <p>Person that booked: <%= booking.user.email%></p>

    <p>Name: <h5 class="card-title"><%= booking.offer.name %></h5></p>
    <%# <% booking.offer_id%>
    <%# offer = Offer.find(booking.offer_id)%>

    <br>
    <p class="card-text"> Start date: <%= booking.start_date%></p>
    <p class="card-text"> End date: <%= booking.end_date%></p>
    <p class="card-text"> Price: <%= booking.final_price%> euros</p>
    <br>
    <% if booking.accepted == true %>
      <p class="card-text">Booking accepted </p>
    <% else %>
      <p class="card-text">Accept booking? yes/no </p>
    <%end%>
  </div>
  </div>
<%end%>
