<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Great!</strong>Your booking was done successfully</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
<div class="card-title1">
  <p>Bookings</p>
</div>
<div class="camper-product">
<% @bookings.each do |booking| %>
  <%# <% user = booking.user%>
  <div class="card_picture" style="width: 18rem;">
    <%= image_tag "van3.jpg", class: "card-img-top" %>
    <%# <img class="card-img-top" src="..." alt="Van"> %>
    <div class="card-product-info">
      <div>
      <p><strong>Person that booked:</strong> <%= booking.user.email%></p>
      <p><strong>Brand Motorhome:</strong> <p class="card-title"><%= booking.offer.brand %></p></p>
      <p><strong>Name:</strong></p>
      <h5 class="card-name"></h5>
      <strong><%= booking.offer.name %></strong>
      <%# <% booking.offer_id%>
      <%# offer = Offer.find(booking.offer_id)%>
      </div>
      <br>
      <div>
      <p class="card-date"><strong> Start date: </strong><%= booking.start_date%></p>
      <p class="card-date"><strong> End date: </strong><%= booking.end_date%></p>
      <p class="card-price"><strong> Price: </strong><%= booking.final_price%> euros</p>
      </div>
      <br>
      <% if booking.accepted == true %>
        <p class="card-text">Booking accepted </p>
      <% else %>
        <p class="card-text">Accept booking? yes/no </p>
      <%end%>
    </div>
  </div>
<%end%>
</div>
