

  <div class="camper-product d-flex">
    <%# <% user = booking.user%>
    <div class="card_picture" style="width: 18rem;">
      <%= image_tag "van3.jpg", class: "card-img-top" %>
      <%# <img class="card-img-top" src="..." alt="Van"> %>
    </div>
    <div class="card-product-info d-flex">
      <div class="card-booker-brand-name">
        <p class="card-title"><strong>Booker:</strong></p>
        <p class="card-p"><%= @booking.user.first_name%> <%= @booking.user.last_name%></p>
        <p class="card-p"><%= @booking.user.email%></p>
        <p class="card-title"><strong>Brand Motorhome:</strong></p>
        <p class="card-p"><%= @booking.offer.brand %></p>
        <p class="card-title"><strong>Name:</strong></p>
        <p class="card-booking-offer-name"><%= @booking.offer.name %></p>
        <p class="card-title"><strong>Motorhome description:</strong></p>
        <p class="card-p"><%= @booking.offer.description%></p>
        

        <%# <% booking.offer_id%>
        <%# offer = Offer.find(booking.offer_id)%>
      </div>
      <div class="card-dates-and-accepted">
        <p class="card-date"><strong> Dates: </strong></p>
        <p class="card-p"><%= @booking.start_date%> to <%= @booking.end_date%></p>
        <p class="card-price"><strong>Total:</strong></p>
        <p class="card-p">€ <%= @booking.offer.price%></p>

      <% if @booking.accepted == true %>
        <p class="card-text">Booking accepted </p>
      <% else %>
        <p class="card-text"><strong>Do you want to accept?</strong></p>
        <a class="btn btn-ghost" href="#">Yes</a>
        <a class="btn btn-ghost" href="#">No</a>
      </div>
      <div>
        <div class="card-icons d-flex">
          <div>
            <i class="fa-solid fa-paw"></i>
            <p>Pet</p>
            <p>friendly</p>
          </div>
          <div>
            <i class="fa-solid fa-people-group"></i>
            <p>4 P.</p>
          </div>
          <div>
            <i class="fa-solid fa-bed"></i>
            <p>2 beds</p>
          </div>
          <div>
            <i class="fa-solid fa-wifi"></i>
            <p>Wi-Fi</p>
          </div>
        </div>
        <div class="card-icons d-flex">
          <div>
            <i class="fa-solid fa-shower"></i>
            <p>Shower</p>
          </div>
          <div>
            <i class="fa-solid fa-kitchen-set"></i>
            <p>Kitchen</p>
          </div>
          <div>
            <i class="fa-solid fa-van-shuttle"></i>
            <p>7 m</p>
          </div>
          <div>
            <i class="fa-solid fa-toilet"></i>
            <p>Toilet</p>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
