<h1>Camper Vans</h1>

<div class="container">
  <div class="cards-grid-index">
    <% @offers.each do |offer| %>
      <div class="card flex-column" style="width: 18rem;">
        <%= image_tag "van3.jpg", class: "card-index-img" %>
        <div class="card-body">
          <h5 class="card-title"><%= offer.brand %></h5>
          <p class="card-text">€<%= offer.price %></p>
          <%=link_to "Check it out", offer_path(offer.id), class: "btn btn-primary" %>
        </div>
      </div>
    <%end %>
  </div>
</div>

<%=link_to "Add new offer", new_offer_path, class: "btn btn-secondary"%>
