
<div class="container centered-margin">
  <div class="cards-grid-index">
    <% @offers.each do |offer| %>
      <div class="card flex-column" style="width: 18rem;">
        <%= cl_image_tag offer.photo.key, class: "card-index-img" %>
        <div class="card-body">
          <h5 class="card-name"><%= offer.name %></h5>
          <h6 class="card-title"><%= offer.brand %></h6>
          <p class="card-text">€<%= offer.price %></p>
          <%=link_to "More Details", offer_path(offer), class: "btn-ghost-details" %>
        </div>
      </div>
    <%end %>
  </div>
</div>


<% if policy(Offer).new? # check if the user is authorized to see this button%>
<%=link_to "Add new offer", new_offer_path, class: "btn btn-secondary"%>
<% end %>

<%=link_to "Add new offer", new_offer_path, class: "btn-ghost-details"%>
