<div class="form-all">
<h1>New camper offer</h1>
<%= simple_form_for [@offer] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :brand %>
  <%= f.input :availiblity_start_date %>
  <%= f.input :availibility_end_date %>
  <%= f.input :picture_url %>
  <%= f.submit %>
<% end %>
</div>
